
* {
    box-sizing: border-box
}

.inft{
  font-weight: normal;
}

body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slidimg {
    width: 99vw;
    height: 670px;
}

.main-container {
    margin: auto;
    height: auto;
}

/* Slideshow container */
.slideshow-container {
    width: auto;
    position: relative;
    margin: auto;

}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  background-color: black;
    color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: auto;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 60px;
    padding: 8px 12px;
    text-align: center;
    top: 0;
  background-color: red;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


/* Style the tab */
.tab {
    text-align: center;
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    height: 100px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 50px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-radius: 10px 10px 0 0;
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-radius: 10px 10px 0 0;
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    text-align: center;
    display: none;
    padding: 6px 12px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: none;
}

.live-feed {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
}

.feed {
  text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
    border-radius: 60px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contf {
  border-radius: 5px;
  padding: 20px;
}

form{
  width: 500px;
  justify-content: center;
  margin: auto;
  text-align: center;
}
.footrr{
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  text-align: center;
  top: 0;
  background-color: black;
}
.events{
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
}
.ev{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.et{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 25px;
  border-radius: 60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}
.event-text{
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
}
